<nav>
    <div class="nav-wrapper">
      <a routerlink="/inicio" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerlink="/administracion/propietarios/crear-propietario">Registrarse</a></li>
        <li><a routerlink="/administracion/plan/crear-plan">Planes</a></li>
        <li><a routerlink="/seguridad/cambio-clave">Cambiar clave</a></li>
        <li><a routerlink="/seguridad/identificar">Iniciar sesion</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerlink="/administracion/propietarios/crear-propietario">Registrarse</a></li>
    <li><a routerlink="/administracion/plan/crear-plan">Planes</a></li>
    <li><a routerlink="/seguridad/cambio-clave">Cambiar clave</a></li>
    <li><a routerlink="/seguridad/identificacion">Iniciar sesion</a></li>
  </ul>
